<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ValeriiKhilinich_LowerPriceSpotted::requests_grid"
             title="Lower Price Requests"
             action="lowerprice/grid"
             translate="title"
             module="ValeriiKhilinich_LowerPriceSpotted"
             dependsOnModule="ValeriiKhilinich_LowerPriceSpotted"
             dependsOnConfig="lower_price_spotted/general/enabled"
             sortOrder="50"
             parent="Magento_Catalog::catalog"
             resource="ValeriiKhilinich_LowerPriceSpotted::view_requests"
        />
    </menu>
</config>
